
<a id="back" href="/signed">Back</a><br>
<section id = "signerList">
{{#signerNames}}
{{#if homepage}}
<ul>
<a target="_blank" href="/user/{{homepage}}">{{first}} {{last}}</a>, {{age}} <a href="/signers/{{city}}">{{city}}</a>
</ul>
{{else}}
<ul>
{{first}} {{last}}, {{age}} <a href="/signers/{{city}}">{{city}}</a>
</ul>
{{/if}}
{{/signerNames}}
</section>
